<!DOCTYPE html>
<html>
    <head>
        <title>Sebureem installer</title>
    </head>
    <body>
        <h1>Creating database</h1>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% if not created %}
            <form action="{{ url_for('.create_db') }}" method="POST">
                <label>Database name:</label>
                <input type="text" name="db_name" placeholder="Database name" value="sebureem.db"/>
                <label>Database path:</label>
                <input type="text" name="db_path" placeholder="Database path" value="{{ database_path }}"/>
                <input type="submit" />
            </form>
        {% else %}
            <p>
                {{ database_path }}
            </p>
            Next step: <a href="{{ url_for('.create_admin') }}">Create admin user</a>
        {% endif %}
    </body>
</html>
